@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
}

main {
    display: flex;
    width: 80vw;
    height: 300px;
}

section#image {
    height: 300px;
    width: 30%;
    background-position: center left;
}